@charset "UTF-8";

@import "partials/vars";

// -------------------------------- resets 

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
    @extend %nofrill;
    list-style: none;
}

img {
    display: block;
}

:focus {
    outline: none;
    border-bottom: solid 3px $color-link;
}

// --------------------------------

body {
    color: $color-text;
    font-family: $font-body;
    font-weight: $light;
    font-size: 1em;
    background: url(../img/sky.png) fixed;
}

a {
    text-decoration: none;
    color: $color-link;
}

a:hover {
    opacity: 0.7;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

// --------------------------------

header {
    display: block;
    width: 80%;
    margin: 2em auto;
    overflow: hidden;
    padding-bottom: 5em;
}

h1 {
    font-family: $font-title;
    color: $color-header;
    top: -50px;
}

h1 span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

img {
    width: 100%;
}

.all {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.moon {
    position: absolute;
    width: 8%;
    z-index: 1;
}

.moon-0 {
    top: 12em;
    right: 20em;
}

.moon-2 {
    top: 6em;
    right: 20em;
}

.white-bg {
    height: 10%;
    background-color: #fff;
    overflow: hidden
}

.room {
    position: relative;
    overflow: hidden;
}

.room-top {
    position: relative;
    z-index: 1;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.baron {
    position: absolute;
    z-index: 3;
    width: 10%;
}

.baron-0 {
    top: -3em;
    right: 10em;
}

.baron-2 {
    top: -19em;
    right: 10em;
}


// ------------------------------------  iphone
@media screen and (max-width: 600px)  {

}