// ------------------------------------  iphone

@media screen and (max-width: 900px)  {
    h1 {
        margin-top: 5em;
        font-size:  1.2em;
    }

    .pair-group {
        display: block;
    }

    .pair-intro {
        background-color: $color-white;
        overflow: hidden;
    }

    .pair-intro p {
        font-size: 1.4em;
        width: 80%;
        margin: 20% auto;
    }

    .room-half .moon {
        top: 20%;
        right: 46%;
    }

    .moon {
        top: 13%;
        right: 23%;
    }

    .gray-text {
        font-size: 1.2em;
    }

    .gray-container .frame {
        top: -90%;
    }

    .white-wrap {
        padding: 1em 0;
    }

    .room-7 .bubble-bottom-right, .room-6 .bubble-bottom-left, .rooom-5 .bubble-top-right {
        padding: 10px;
    }
}

.placeholder {
    width: 100%;
    height: 200em;
}