%beforeSocial {
    font-family: "social_media_circledregular" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    font-size: 1.2em;
    color: #fff;
    padding-right: 0.1em;
}

@font-face {
    font-family: 'social_media_circledregular';
    src: url('../fonts/social_media_circled-webfont.woff2') format('woff2'),
         url('../social_media_circled-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
  content: attr(data-icon);
  @extend %beforeSocial;
}

[class^="cc-"]:before,
[class*=" cc-"]:before,
[class^="cc-"]:after,
[class*=" cc-"]:after  {
  @extend %beforeSocial;
}

.cc-email:before {
  content: "k";
}

.cc-web:before {
  content: "K";
}

.cc-github:before {
  content: ")";
}

.cc-instagram:before {
  content: "Q";
}

.cc-youtube:before {
  content: "M";
}

.cc-twitter:before {
  content: "D";
}

.cc-twitch:before {
  content: "a";
}

.cc-patreon:before {
  content: "A";
}

.cc-paypal:before {
    content: "Z";
}

.cc-venmo:before {
    content: "B";
}

.cc-amazon:before {
    content: "T";
}

.cc-box:before {
    content: "3";
}

.social li {
    font-size: 1em;
    display: inline-block;
    color:  #fff;
    padding-right: 0.5em;
    font-weight: lighter;
}